.holder {
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 50px;
  background: rgba(235, 235, 235, 1);
  transition: 0.15s background ease-out;
}

.toggle {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
}

@keyframes toggleOn {
  0% {
    left: -10px;
  }
  15% {
    left: 1rem;
  }
  100% {
    left: 2rem;
  }
}
@keyframes toggleOff {
  0% {
    left: 2rem;
  }
  15% {
    left: 1.4rem;
  }
  100% {
    left: 0.1rem;
  }
}
.off {
  background: rgba(255, 255, 255, 1);
}

.on {
  background: rgba(75, 156, 226, 1);
}

.on .toggle {
  animation: toggleOn 0.15s ease-out;
  left: 2rem;
}

.off .toggle {
  animation: toggleOff 0.15s ease-out;
  background-color: rgba(255, 255, 255, 1);
  left: 0.1rem;
}
