.form__wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  box-shadow: 0px 3px 12px #1e36480a;
  border-radius: 0.8rem;
}

.form__header {
  text-align: center;
  padding: 0 0 5rem 0;

  &-title {
    font-size: 3.2rem;
    padding: 1rem;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;

  & > * {
    padding: 1rem;
  }

  .input__group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 1rem;
    }

    input {
      border-radius: 12px;
      height: 4.5rem;
      width: 38rem;
      background-color: rgba(244, 244, 244, 1);
      border: none;
      font-size: 1.5rem;
      padding: 0 1rem;
      outline: none;
    }
    input:active,
    input:focus {
      outline: 1px solid rgba(75, 156, 226, 1);
      background-color: rgba(240, 248, 255, 1);
    }
    .notValid {
      outline: 1px solid rgba(247, 116, 116, 1);
      background-color: rgba(255, 242, 242, 1);
    }
  }
  &-btn {
    width: 40rem;
    height: 4.5rem;
    background-color: rgba(75, 156, 226, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    margin-top: 2rem;
    border: none;
    font-size: 1.5rem;
  }
}

.form-footer {
  align-self: center;

  a {
    color: rgba(75, 156, 226, 1);
  }
}
