@import '/src/style/variables';
@import '/src/style/mixin';
.category-container {
  height: 4rem;
  margin: 1.5rem 0;
  border-bottom: 1px solid $gray-90;
  .category-list {
    @include display-flex(row, center, space-between);
    max-width: 100%;
    overflow-x: scroll;
    /* To hide horizontal scrollbar on firefox and IE */
    -ms-overflow-style: none;
    scrollbar-width: none;

    &-item {
      margin: 0 0.8rem;
      padding: 0 0.3rem;
      line-height: 3.8rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: capitalize;
      border-bottom: 2px solid transparent;
      transition: $general-transition;
      &:hover {
        border-bottom: 2px solid $blue-100;
      }
    }
    .item-active {
      border-bottom: 2px solid $blue-100;
      color: $blue-100;
    }
  }
  /* To hide horizontal scrollbar on chrome and safari */
  .category-list::-webkit-scrollbar {
    display: none;
  }
}
