@import '/src/style/mixin';
@import '/src/style/variables';

.add__product-content-image {
  .upload-container {
    @include display-flex(column, center, center);
    border: 1px dashed $gray-100;
    border-radius: 0.8rem;
    border: 1px dashed $gray-100;
    border-radius: 0.8rem;
    min-height: 20rem;
    @include screenSize('medium') {
      min-height: unset;
      max-height: 11.3rem;
    }
    position: relative;

    .btn-upload {
      position: relative;
      background-color: $white-90;
      color: $gray-100;
      width: 12rem;
      height: 3rem;
      font-size: 1.5rem;
      line-height: 1rem;
      border: none;
      border-radius: 0.8rem;
      transition: $general-transition;
      &:hover {
        background-color: $blue-100;
        color: $white-100;
      }

      & > input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 12rem;
        height: 3rem;
        font-size: 1.67rem;
      }
    }
    .upload-info-text {
      color: $gray-100;
      font-size: 1.2rem;
    }
    .warning {
      color: $red-90;
    }

    .upload-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        padding: 1rem;
        font-size: 1.4rem;
      }

      .hidden-mobile {
        @include screenSize('medium') {
          display: none;
        }
      }
    }

    .image-preview-wrapper {
      position: relative;
      align-self: flex-start;
      .image-preview {
        width: 11rem;
        height: 11rem;
        max-width: 11rem;
        max-height: 11rem;
        object-fit: cover;
        border-radius: 0.8rem;
        border: 1px solid $white-70;
        margin: 1rem;
        align-self: flex-start;
        justify-self: flex-start;
      }

      .delete-btn {
        position: absolute;
        top: 0.6rem;
        left: 10.7rem;
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        background-color: $black-90;
        color: $white-100;
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
