.section-banner {
  img {
    width: 100%;
    border-radius: 0.8rem;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: center;
}
