@import 'style/mixin.scss';

.section {
  max-height: calc(100vh - 8rem);
  @include screenSize('medium') {
    max-height: calc(100vh - 6rem);
  }
  overflow-y: auto;
}

.section-banner {
  height: 27.5vw;
  max-height: 43rem;
  img {
    width: 100%;
    border-radius: 0.8rem;
  }
}
