@import 'style/mixin.scss';
@import 'style/variables.scss';

.product__detail-wrapper {
  max-height: calc(100vh - 6rem);
  overflow: auto;
}

.product__detail {
  display: flex;
  width: 100%;
  background-color: $white-100;
  padding: 1.5rem 1.6rem;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
  max-height: calc(100vh - 18rem);
  @include screenSize('medium') {
    max-height: unset;
    flex-direction: column;
    padding: 0.6rem;
  }
  &-img {
    min-width: 47%;
    max-width: 47%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.8rem;
    @include screenSize('medium') {
      min-width: 100%;
      max-width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
      @include screenSize('medium') {
        width: 100%;
      }
    }
  }
  &-content {
    width: 53%;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: $black-90;
    @include screenSize('medium') {
      @include display-flex(column, unset, unset);
      padding: 0.6rem;
      width: 100%;
      margin-bottom: 2rem;
    }

    & > * {
      padding: 1rem 0;
      @include screenSize('medium') {
        padding: 0.5rem 0;
      }
    }

    .content-title {
      margin-bottom: 2rem;
      font-size: 3.4rem;
      font-weight: 500;
      order: 1;
      color: $black-80;
      @include screenSize('medium') {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }

    .strong {
      display: inline-block;
      font-weight: 700;
      width: 15rem;
    }

    .content-price {
      margin: 2rem 0;
      font-size: 3.4rem;
      font-weight: 700;
      order: 2;

      @include screenSize('medium') {
        @include display-flex(row, baseline, space-between);
        font-size: 2rem;
        margin: 0;
      }

      .content-given-offer {
        background-color: $white-80;
        color: $gray-100;
        width: 25rem;
        border-radius: 0.8rem;
        padding: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 500;

        .given-price {
          color: $black-90;
          font-weight: 700;
          &::after {
            content: ' TL';
          }
        }
        @include screenSize('medium') {
          width: unset;
        }
      }
    }
    .offer-rejected {
      color: $red-90 !important;
    }
    .offer-accepted {
      color: $green-100 !important;
    }

    .info-wrapper {
      order: 3;
      width: 35rem;
      & > * {
        display: flex;
        padding: 0.5rem 0;
      }
    }

    .content-buttons {
      margin: 2rem 0;
      order: 4;
      @include screenSize('medium') {
        @include display-flex(row, center, center);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        background-color: $white-100;
        padding: 1rem;
        box-shadow: 0px -3px 8px rgba(30, 54, 72, 0.08);
      }
      .btn {
        height: 4.5rem;
        max-width: 23.5rem;
        width: 47%;
        font-size: 1.8rem;
        border: none;
        border-radius: 0.8rem;
        transition: $general-transition;
      }
      .btn-buy {
        background-color: $blue-100;
        color: $white-100;
        margin-right: 1rem;
        &:hover {
          background-color: $blue-10;
          outline: 1px solid $blue-100;
          color: $blue-100;
        }
        @include screenSize('medium') {
          align-self: center;
          margin-top: 1rem;
        }
      }
      .btn-offer {
        background-color: $blue-10;
        color: $blue-100;
        outline: 1px solid transparent;
        &:hover {
          outline: 1px solid $blue-100;
        }
      }
      .btn-soldout {
        background-color: $orange-10;
        color: $orange-100;
        width: 100%;
        cursor: default;
      }
      .btn-disabled {
        opacity: 0.8;
        cursor: default;
      }
    }

    .text-capitalize {
      text-transform: capitalize;
    }

    .content-description {
      order: 5;
      max-width: 75%;
      @include screenSize('medium') {
        max-width: 100%;
        margin-bottom: 1rem;
      }
      &-text {
        padding: 1rem 0;
        line-height: 2rem;
      }
    }
  }
}
