@import '/src/style/mixin';
@import '/src/style/variables';

header {
  width: 100%;
  height: 8rem;
  background-color: $white-100;
  @include screenSize('medium') {
    height: 6rem;
  }

  .container {
    padding: 0;
  }
}

.navbar {
  &-wrapper {
    @include display-flex(row, center, space-between);
    line-height: 8rem;
    @include screenSize('medium') {
      line-height: 6rem;
    }
  }

  &-logo {
    @include display-flex(row, center, unset);
    height: 8rem;
    @include screenSize('medium') {
      height: 6rem;
    }
    img {
      height: 4rem;
      width: 100%;
      transition: $general-transition;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &-btn-group {
    .navbar-btn {
      width: 12.5rem;
      height: 4rem;
      color: $blue-100;
      background-color: $blue-10;
      border: none;
      border-radius: 0.8rem;
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      outline: 1px solid transparent;
      transition: $general-transition;

      &:hover {
        outline: 1px solid $blue-100;
        opacity: 0.7;
      }
    }

    .btn-login::before {
      content: '';
      height: 1.3rem;
      width: 1.5rem;
      background: url('../../assets/icons/user-ico.png') no-repeat;
      display: inline-block;
      margin-right: 0.3rem;
      line-height: 4rem;
    }

    .btn-add-product {
      @include screenSize('medium') {
        width: 4rem;
      }
    }

    .btn-add-product::before {
      content: '';
      height: 1.3rem;
      width: 1.5rem;
      background: url('../../assets/icons/add-ico.png') no-repeat;
      display: inline-block;
      margin-right: 0.3rem;
      line-height: 4rem;
    }
    .btn-add-product::after {
      content: 'Ürün Ekle';
      display: inline-block;
      margin-right: 0.3rem;
      line-height: 4rem;
      @include screenSize('medium') {
        content: '';
      }
    }
  }
}
