$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(244, 244, 244, 1);
$white-80: rgba(242, 242, 242, 1);
$white-70: rgba(234, 234, 234, 1);
$white-60: rgba(240, 248, 255, 1);

$gray-110: rgba(153, 160, 167, 1);
$gray-100: rgba(177, 177, 177, 1);
$gray-90: rgba(224, 224, 224, 1);

$blue-100: rgba(75, 156, 226, 1);
$blue-100-70: rgba(75, 156, 226, 0.7);
$blue-10: rgba(240, 248, 255, 1);

$red-100: rgba(235, 50, 50, 1);
$red-90: rgba(247, 116, 116, 1);
$red-10: rgba(255, 242, 242, 1);

$orange-100: rgba(250, 173, 96, 1);
$orange-10: rgba(255, 240, 226, 1);

$black-100: rgba(62, 62, 62, 1);
$black-90: rgba(82, 82, 82, 1);
$black-80: rgba(85, 85, 85, 1);

$green-100: rgba(70, 175, 50, 1);

$general-transition: all 0.4s ease-in-out;
