@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
:root {
  font-size: 10px;
}

body {
  background-color: rgba(242, 242, 242, 1);
}
* {
  font-family: 'Nunito', sans-serif !important;
}

button {
  cursor: pointer;
}

.container {
  max-width: 148rem;
  margin: auto;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  top: 9rem !important;
  font-size: 1.6rem !important;
  background-color: rgba(255, 229, 229, 1);
  color: rgba(247, 116, 116, 1) !important;
  box-shadow: 0px 3px 12px rgba(30, 54, 72, 0.18);
  border-radius: 0.8rem;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  top: 9rem !important;
  font-size: 1.6rem !important;
  background-color: rgba(241, 255, 240, 1);
  color: rgba(70, 175, 50, 1) !important;
  box-shadow: 0px 3px 12px rgba(30, 54, 72, 0.18);
  border-radius: 0.8rem;
}

.Toastify__close-button {
  display: none;
}
