.add__product {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  margin-bottom: 10rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: rgba(82, 82, 82, 1);
  }

  &-content {
    display: flex;

    &-detail {
      padding: 1rem;
      width: 50%;
      border-right: 1px solid rgba(242, 242, 242, 1);

      label {
        padding: 1rem 0;
        color: rgba(82, 82, 82, 1);
        font-size: 1.5rem;
      }
      input,
      select,
      textarea,
      option {
        background-color: rgba(244, 244, 244, 1);
        font-size: 1.6rem;
        height: 4.5rem;
        border: none;
        border-radius: 0.8rem;
        margin-bottom: 3rem;
        outline: none;
        padding: 1rem 2rem;
      }
      input:active,
      select:active,
      textarea:active,
      option:active,
      input:focus,
      select:focus,
      textarea:focus,
      option:focus {
        outline: 1px solid rgba(75, 156, 226, 1);
        background-color: rgba(240, 248, 255, 1);
      }
      input::placeholder,
      select::placeholder,
      select:invalid,
      textarea::placeholder,
      option::placeholder,
      select:disabled,
      option:disabled,
      select:required:invalid,
      select {
        color: rgba(153, 160, 167, 1);
        padding: 0.5rem 1rem;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 9.2rem;
      }

      option:not(:first-of-type) {
        color: black;
      }

      input[name='price'] {
        width: 45%;
      }

      input[type='checkbox'] {
        width: 2rem;
      }

      .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .offer-row {
        flex-direction: row;
        align-items: center;
        & > label {
          margin-right: 1rem;
        }
      }

      .form-row-multi {
        display: flex;
        width: 100%;
        .input-group {
          width: 100%;
          label {
            display: block;
            color: rgba(82, 82, 82, 1);
          }
          select {
            width: 90%;
          }
        }
      }
    }

    &-image {
      padding: 1rem;
      width: 50%;
    }
  }

  .btn-save {
    align-self: flex-end;
    width: 31rem;
    height: 4.5rem;
    border: none;
    background-color: rgba(75, 156, 226, 1);
    border-radius: 0.8rem;
    color: rgba(255, 255, 255, 1);
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.selected {
  color: black !important;
}

.not-valid {
  border: 1px solid rgba(247, 116, 116, 1) !important;
  background-color: rgba(255, 242, 242, 1) !important;
  color: rgba(247, 116, 116, 1) !important;
}
.not-valid-ico {
  color: rgba(247, 116, 116, 1) !important;
}

.price-row {
  position: relative;
  & > p {
    position: absolute;
    top: 5rem;
    left: 40%;
    font-size: 1.6rem;
    color: rgba(153, 160, 167, 1);
  }

  & > span {
    color: #f77474 !important;
    margin-top: -2.2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}
