@import 'style/mixin.scss';
@import 'style/variables.scss';
.modal {
  @include display-flex(row, center, center);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $blue-100-70;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $general-transition;

  &-content {
    @include display-flex(column, center, unset);
    max-width: 95vw;
    padding: 1rem 2rem;
    background-color: $white-100;
    box-shadow: 0px 3px 12px rgba(30, 54, 72, 0.18);
    border-radius: 0.8rem;
    transform: translateY(20rem);
    transition: $general-transition;
    @include screenSize('medium') {
      margin-top: 1rem;
    }

    #confirm-modal-title {
      display: block;
      text-align: center;
    }

    & > * {
      padding: 1rem 0.6rem;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: $black-90;
      text-align: center;
    }
    &-body {
      font-size: 1.5rem;
      color: $black-80;
      text-align: center;
    }

    .btn {
      height: 4.5rem;
      padding: 1rem 4rem;
      font-size: 1.8rem;
      font-weight: 700;
      border: none;
      border-radius: 0.8rem;
      transition: all 0.6s;
    }

    .btn-cancel {
      background-color: $blue-10;
      color: $blue-100;
      margin-right: 0.2rem;
      outline: 1px solid transparent;
      &:hover {
        outline: 1px solid $blue-100;
      }
    }
    .btn-confirm {
      background-color: $blue-100;
      color: $white-100;
      &:hover {
        background-color: $blue-10;
        outline: 1px solid $blue-100;
        color: $blue-100;
      }
    }
  }

  &-show {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;

    .modal-content {
      transform: translateY(0);
    }
  }
}
