@import '../ConfirmModal/confirmModal.scss';
@import '/src/style/mixin';
@import '/src/style/variables';

#offer-modal {
  @include screenSize('medium') {
    align-items: flex-start;
  }
}
.modal-content {
  width: 48rem;
}
.modal-content-title {
  @include display-flex(row, center, space-between);
  width: 100%;

  & > span {
    cursor: pointer;
  }
}

.modal-content-body {
  margin-top: 1rem;
  width: 100%;
  .product-info {
    @include display-flex(row, center, space-between);
    width: 100%;
    height: 6rem;
    padding: 0.6rem;
    background-color: $white-60;
    margin-bottom: 1rem;
    &-left {
      @include display-flex(row, center, unset);
      height: 100%;
      font-size: 1.3rem;
      color: $black-90;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.8rem;
        margin-right: 0.5rem;
      }
    }
    .title {
      width: 40%;
    }
    .price {
      justify-self: flex-end;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: left;
    }
  }
  .offer-options {
    .option-custom {
      background-color: $white-90;
    }
    .option {
      @include display-flex(row, center, unset);
      padding: 1.4rem 1rem;
      border-radius: 0.8rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      border: 1px solid $gray-90;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        border: 1px solid $blue-100;
      }

      .checkbox {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        border: 1px solid $gray-90;
        border-radius: 100% !important;
        position: relative;
        overflow: hidden;
      }

      .custom-offer {
        display: flex;
        align-items: center;
        width: 100%;
        color: $gray-110;
        input {
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
        }
        input:focus,
        input:active {
          color: $blue-100;
          border: none;
          outline: none;
        }
        input::placeholder {
          color: $gray-110;
          font-size: 1.5rem;
        }
      }
    }

    .selected {
      border: 1px solid $blue-100;
      background-color: $white-60;
      color: $blue-100;
      .checkbox::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../assets/icons/check-ico.png') $blue-100;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 10px;
      }
      input {
        color: $blue-100;
      }
    }

    .validation-warning {
      display: block;
      color: $red-100;
      font-size: 1.2rem;
      padding: 0 0.5rem;
      margin-top: -0.5rem;
    }
  }
}

.selected-notValid {
  border: 1px solid rgba(247, 116, 116, 1) !important;
  background: rgba(255, 242, 242, 1) !important;
  input:active,
  input:focus {
    color: $red-100 !important;
  }
}

.modal-content-footer {
  width: 100%;
  text-align: center;
  .btn-offer {
    width: 75%;
    background-color: $blue-100;
    color: $white-100;
    &:hover {
      background-color: $blue-10;
      outline: 1px solid $blue-100;
      color: $blue-100;
    }
  }
}
