@import '/src/style/mixin';
@import '/src/style/variables';
.content-header {
  @include display-flex(row, unset, unset);
  border-bottom: 1px solid $white-80;

  & > * {
    padding: 1.5rem 0 0.8rem 0;
    margin: 0 1.3rem;
    color: $gray-100;
    font-size: 1.5rem;
  }

  .tab {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: $general-transition;
  }
  .selected {
    color: rgba(75, 156, 226, 1);
    border-bottom: 1px solid rgba(75, 156, 226, 1);
  }
}
